
:root {
    --colorRojo: #b81e14;
    --colorGris: #92908b;
    --colorGrisOscuro: #444444;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffff;
    list-style: none;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

body {
    background-image: url(/img/bg-body.png);
    font-family: "Roboto";
    margin: 0 10px;
}

.home__header--box-logo {
    width: 100%;
    border-radius: 50%;
    border: solid 1px var(--colorGris);
    
}

.home header{
    text-align: center;
}


