<!DOCTYPE html>
<html lang="en">
    
<%- include('partials/head') %>
   
<body class="productAdd">
    
    <%- include('partials/header') %>

    <main class="container">

            <div class="class-row">

                <div class="col-12 col-md-10 mx-auto mt-5">

                    <div class="card shadow">

                        <div class="crad-header">
                            <a class="btn btn-outline-dark" href="/products/add">Nuevo Producto</a>
                        </div>                        
                        
                        <div class="card-body">

                            formulario

                        </div>


                          
                    </div>

                </div>
                
            </div>

    </main>

    <%- include('partials/footer') %>

    <%- include('partials/script') %>
    
</body>
</html>