<!DOCTYPE html>
<html lang="en">
    
<%- include('partials/head') %>
   
<body class="home">
    
    <%- include('partials/header') %>

      <main>

            <div class="class-row">

                <div class="col-12 col-md-10 col-log-8 mx-auto mt-5">

                    <div class="card mb-3">
                        <div class="row g-1">
                          <div class="col-12 col-md-5">

                            <div class="d-flex flex-column gap-1">

                                <img id="main-image" src="/img/Comida-española.jpg" class="img-fluid rounded-top" alt="...">
                          
                            <div class="d-flex justify-content-between">
                                <img src="/img/Comida-española.jpg" width="32%" alt="" onclick="document.getElementById('main-image').setAttribute('src','/img/Comida-española.jpg')">
                                <img src="/img/fideo.jpg" width="32%" alt="" onclick="document.getElementById('main-image').setAttribute('src','/img/fideo.jpg')">
                                <img src="/img/osito.jpg" width="32%" alt="" onclick="document.getElementById('main-image').setAttribute('src','/img/osito.jpg')">
                            </div>

                            </div>

                            
                        </div>

                          <div class="col-12 col-md-7">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                        </div>
                      </div>

                </div>
                
            </div>

    </main>

    <%- include('partials/footer') %>

    <%- include('partials/script') %>
    
</body>
</html>